* {
	font-size: 9pt;
	font-family: Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

p {
	word-break: break-all;
	text-indent: 5px;
}

/*  Menu @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
#topo {
    width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	
    background-color: white;
    border-bottom: 1px rgba(0,0,0,0.1) solid;

    z-index: 2;

    display: inline-flex;

    position: fixed;
    top: 0px;
    left: 0px;

 	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#logo-empresa {
	position: relative;
	
	align-self: center;

	left: 25%;
}

#empresa {
	border-collapse: separate;
}

.menu-info-empresa {
	height: auto;
	position: relative;
	align-self: center;
	left: 60%;
}

#img-logo {
	width: 140px;
	height: 68px;
}

/*  CONTAINER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  */
#container {
	width: -webkit-fill-available;
	max-width: 1390px;
	height: fit-content;
	min-height: 50%;

	background-color: white;
	border: 1px rgba(0,0,0,0.03) solid;
	border-radius: 6px;

	position: relative;
	margin: 99.33px auto 10px auto;
	padding: 10px;
	display: table;

	box-shadow:
	  	0 2.8px 2.2px   rgba(0, 0, 0, 0.034),
	  	0 6.7px 5.3px   rgba(0, 0, 0, 0.048),
	  	0 12.5px 10px   rgba(0, 0, 0, 0.06),
	  	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	  	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	  	0 100px 80px    rgba(0, 0, 0, 0.12);
}

/*  SUB-CONTAINER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  */
.sub-container {
	width: -webkit-fill-available;
	height: fit-content;
	padding-bottom: 10px;

	display: inline-flex;

	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px rgba(0,0,0,0.1) solid;
	border-radius: 6px;

	margin: 0px auto 10px auto;
}

/* Fill available para mozilla ------------------------ */
.sub-container {
	width: -moz-available;
}

.sub-container div {
	margin-left: 6%;
}

#painel-botoes {
	display: flex;
	align-items: center;
  	justify-content: center;
}

#div-cotacao p {
	font-size: 16pt;
	align-self: center;
}

#nome-vendedor {
	width: 250px;
}

#email-vendedor {
	width: 250px;
}

#fone-vendedor {
	width: 150px;
}

input[id="forma-pagamento"] {
	width: 160px;
}

input[id="prazo-pagamento"] {
	width: 30px;
}

/* Tabela de dados empresa --------------------------------*/
#empresa {
	color: white;
}

#empresa th {
	text-align: right;
}

#empresa td {
	text-align: left;
	text-indent: 10px;
}

.sub-container p {
	margin: 0px;
}

.alinhamento-div-info {
	max-width: fit-content; 
	display: flex;
	margin-left: 10%;
}

.alinhamento-texto-info {
	align-self: flex-start;
}

.alinhamento-texto-info th {
	text-align:  right;
}

.alinhamento-texto-info td {
	text-align:  left;
}

/* Span ------------------------------------------------*/
.obrigatorio {
	color: red;
}

/* FORM do container -----------------------------------*/
#tabela {
	position: relative;
	margin: 0px auto;
	padding: 0px;
	border-collapse: collapse;
	background-color: rgba(0, 63, 114, 0.3);

	border: 0px;
}

#tabela tr {
	border: 0px solid #ddd;
}

#tabela td, #tabela th {
	padding-left: 2px;
}

#tabela th {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 4px;
	background-color: rgb(0, 63, 114);
	color: white;
}

#tabela th.numeros {
	direction: rtl;
    text-align: justify;
    text-indent: 3px;	
}

#tr-soma-total {
	height: 33px;
	color: white;
	align-content: center;
	background-color: rgb(0, 63, 114);
}

#soma-total {
	font-size: 10pt;
	border-bottom: 1px solid white;
	border-bottom-left-radius: 6px;
}

#envia_dados {
	margin-bottom: 0px;
}
/* Alteração de selects --------------------------------*/
select {
	height: 30px;
	border: 1px rgba(0,0,0,0.1) solid;
	border-radius: 6px;

	box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 14px;
}

/* Alteração de inputs ---------------------------------*/
input {
	height: 30px;
	border: 1px rgba(0,0,0,0.1) solid;
	border-radius: 6px;

	box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 14px;
}

p.nItem {
	width: 40px;
	text-align: center;
}

p.codmaterial {
	width: 80px;
	text-align: center;
}

p.descmaterial {
	width: 450px;
}

p.unidade {
	text-align: center;
}

p.quantidade {
	width: 90px;
	direction: rtl;
    text-align: justify;
    text-indent: 5px;
}

p.totalitem {
	width: 100px;
	background-color: rgba(0,0,0,0.0);

	direction: rtl;
    text-align: justify;
    text-indent: 5px;

	border: 0px;
	box-shadow: rgba(0,0,0,0);
}

input[class="valores"] {
	width: 90px;
	text-align: right;
}

input[class="icms"] {
	width: 55px;
	text-align: right;
}

input[class="ipi"] {
	width: 55px;
	text-align: right;
}

input[class="prazoentrega"] {
	width: 100px;
	text-align: center;
}

/* Google chrome - Esconder spin do input    */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

/* Mozilla Firefox - Esconder spin do input  */
input[type=number] {
	-moz-appearance: textfield;
}


input::placeholder {
	opacity: 0.5;
}

textarea {
	display: none;

	min-height: 40px;
	min-width: 623px;
	max-width: 623px;

	border: 1px rgba(0,0,0,0.1) solid;
	border-radius: 6px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 14px;
}

#soma-total {
	text-align: right;
}

#titulo-total {
	text-indent: 2%;
}

/* Botoes da pagina @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.botoes {
	width: 100px;
	height: 50px;

	background-color: rgb(0, 63, 114);
	color: white;

	border-radius: 6px;
	
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    margin-top: 10px;
    margin-left: 1%;
}

.abre_observacao {
	width: 32px;
	height: 32px;

	margin-left: 25%;

	border-radius: 6px;

	background-image: url('../_img/_icones/icone-observacao.ico');
	background-repeat: no-repeat;
	background-size: 32px;
}


/* Rodapé da página @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
#rodape {
	width: 1392px;
	padding: 10px;

	margin: 0px auto;
	border-radius: 6px;

	/*background-color: rgb(0, 63, 114);*/
	background-color: rgb(33, 32, 28);
	color: white;

	text-align: center;
}

#footer-info-empresa {
	left: 20%;
}

p#nome-empresa {
	margin-top: 5px;
	margin-bottom: 5px;
}
/* Tela de carregamento @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.loader {
	width: 100%;
	height: 100%;

	position: fixed;
	left: 0px;
	top: 0px;

	z-index: 1;

	background: url('../_img/_gif/load.gif') 50% 50% no-repeat rgb(0,63,114);
}

/* Tratamento do cursor @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
*:focus {
	outline: none;
}

input:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  	border: 1px rgba(81, 203, 238, 1) solid;
}

tr.linha:hover {
	background-color: rgba(0, 63, 114, 0.4);
	color: white;
}

#tabela p:hover {
	cursor: default;
}

p.totalitem:hover {
	cursor: default;
}

input[class="prazoentrega"]:hover {
	cursor: text;
}

input[class="valores"]:hover {
	cursor: text;
}

input[class="icms"]:hover {
	cursor: text;
}

input[class="ipi"]:hover {
	cursor: text;
}

textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

#tabela p.abre_observacao:hover {
	cursor: pointer;
}

.botoes:hover {
	background-color: rgba(0, 63, 114,0.8);
	box-shadow: 0 0 13px rgba(81, 203, 238, 1);
	cursor: pointer;
}

/* Tratamento de modal @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
#confirmacao-enviar {
	width: 25%;
  	height: 25%;

  	background-color: #fefefe;
 
  	overflow: auto;
  	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	z-index: -9999;

  	border-radius: 4px;
  	box-shadow:
	  	0 2.8px 2.2px   rgba(0, 0, 0, 0.034),
	  	0 6.7px 5.3px   rgba(0, 0, 0, 0.048),
	  	0 12.5px 10px   rgba(0, 0, 0, 0.06),
	  	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	  	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	  	0 100px 80px    rgba(0, 0, 0, 0.12);
}

.alinhamento-div-erro {
	max-width: fit-content; 
	display: flex;
	margin-top: 6%;
	margin-left: 30%;
}

#msg-erro {
	font-size: 25pt;
	align-self: center;
	text-shadow: 4px 1.5px 5px rgba(0,0,0,0.68);
}

/*
#botao_salvar:hover {
	background-color: rgba(0, 63, 114,0.8);
	box-shadow: 0 0 13px rgba(81, 203, 238, 1);
	cursor: pointer;
}

#botao_salvar:active {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


/*Tratar responsividade - Media queries */
/* For Mobile */
/*@media screen and (max-width: 540px) {
    .view {
        width: 400px;
    }
}

/* For Tablets */
/*@media screen and (min-width: 540px) and (max-width: 780px) {
    .view {
        width: 600px;
    }
}
*/